.btn {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 6px 12px;
  font-size: 14px;
  min-width: 88px;
  border: none;
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
  &:hover {
    background-color: gray;
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
}